.vagrant
/Vagrantfile-extra
logs
NULL
stratosphere
stratosphere-dev
data
meteor
meteor-dev
scheduler-dev
packages-dev
testing-dev
okkam-dev
/compile
/dompile
/puppet/manifests/manifests.d
/puppet/files/dopa.ppk
