[project]
	description = Virtual machine for testing provided by the the DOPA project.
[access "refs/*"]
	owner = group user/physikerwelt (physikerwelt)
[access "refs/for/refs/*"]
	read = group user/physikerwelt (physikerwelt)
	push = group user/physikerwelt (physikerwelt)
	label-Code-Review = -2..+2 group user/physikerwelt (physikerwelt)
	label-Verified = -1..+1 group user/physikerwelt (physikerwelt)
	rebase = group user/physikerwelt (physikerwelt)
	removeReviewer = group user/physikerwelt (physikerwelt)
	submit = group user/physikerwelt (physikerwelt)
[access "refs/heads/*"]
	read = group user/physikerwelt (physikerwelt)
	create = group user/physikerwelt (physikerwelt)
	push = +force group user/physikerwelt (physikerwelt)
	pushMerge = group user/physikerwelt (physikerwelt)
[access "refs/tags/*"]
	push = +force group user/physikerwelt (physikerwelt)
	pushTag = group user/physikerwelt (physikerwelt)
	pushSignedTag = group user/physikerwelt (physikerwelt)
